<!-- This is the HTML page to see an individual review -->

<!-- content_for take this information and print in the layout / applictions page -->
<!-- This will change the URL to the review title, making SEO friendly -->
<% content_for :page_title, @review.title %>

<!-- Add image on show page -->
<%= image_tag @review.photo.medium %>

<!-- User ruby's simple_format to see the paragraphs users added to review body-->
<h1><%=@review.title%></h1>
<h2><%=@review.restaurant%></h2>

<!-- First we check if user is logged in to bookmark reviews -->

<% if is_logged_in? %>
  <p>
  <!-- run an if statement to check if current user has any bookmarks (it will return an array) -->
  <% if @review.bookmarks.where(user: @current_user).any? %>
    <%= link_to "Unbookmark", review_bookmark_path(@review), method: :delete %>
  <% else %>
    <%= link_to "Bookmark", review_bookmark_path(@review), method: :post %>
  <% end %>
</p>
<% end %>

<h3>Bookmarked by...</h3>

<!-- Add a loop to see who has bookedmarked this review -->
<ul>
  <% @review.bookmarks.each do |bookmark| %>
    <li><%= bookmark.user.username %></li>
  <% end %>
</ul>

<div class="score">
  <%= @review.score %> / 10
</div>

<div class="user">
  Posted by

  <% if @review.user.present? %>
    <%= link_to @review.user.username, user_path(@review.user) %>
  <% else %>
    anonymous
  <% end %>
</div>

<!-- Write an if statement to only show ambiance review if there is any -->
<% if @review.ambiance.present? %>
  <div class="ambiance">
    Ambiance: <%= @review.ambiance %>
  </div>
<% end %>

<% if @review.price.present? %>
  <div class="price">
    Price: <%= @review.price %>
  </div>
<% end %>

<% if @review.cuisine.present? %>
  <div class="cuisine">
    Cuisine: <%= @review.cuisine %>
  </div>
<% end %>

<div class="body">
  <%= simple_format @review.body %>
</div>

<!-- Once user see the review, has the options of editing or deleting it -->
<!-- Link actions to right path -->
<!-- Update actions in the database-->
<% if @review.user == @current_user %>
  <div class="actions">

    <% if @review.created_at > 1.hour.ago %>
      <%= link_to "Edit this review", edit_review_path(@review) %>
    <% end %>

    <%= link_to "Delete this review", review_path(@review), method: :delete, data: { confirm: "Are you sure??" } %>
  </div>
<% end %>

<!-- Add comments that are looping through each review -->
<h3>Comments</h3>
<!-- use descending order -->
<% @review.comments.order("created_at desc").each do |comment| %>
  <div class="comment">
    <!-- use simple_format to see paragraphs within comment body -->
    <%= simple_format comment.body %>

    <!-- Use created_at function that came within our database (schema.erb) to show when comment was created -->
    <!-- Use date helper to show formated time (time ago)  -->
    <p class="posted">
      Posted by
        <% if comment.user.present? %>
          <%= link_to comment.user.username, user_path(comment.user) %>
        <% else %>
          anonymous
        <% end %>

    </p>

    <p class="posted">Posted <%= time_ago_in_words comment.created_at %> ago</p>
  </div>
<% end %>

<!-- Add a simple_form_for comments -->
<!-- Connect each new comments with a review, using a list and a loop-->
<h3>Add a comment</h3>

<%= simple_form_for [@review, Comment.new] do |f| %>
  <%= f.input :body %>
  <%= f.button :submit, "Add comment" %>
  <% end %>
