<%= form_for @review do |f| %>

  <!-- This ruby tag will check for errors when submiting review and display it -->
  <% if @review.errors.any? %>

    <div class="errors">
      <!-- full.messages is part of ruby's validation's docs -->
      <!-- we dont have to worry about writing each message as comes with ruby -->
      <% @review.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>

  <% end %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :restaurant %>
    <%= f.text_field :restaurant %>
  </p>

  <p>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.label :cuisine %>
    <%= f.text_field :cuisine %>
  </p>

  <p>
    <%= f.label :price %>
    <%= f.number_field :price %>
  </p>

  <p>
    <%= f.label :score %>
    <%= f.number_field :score %>
  </p>

  <p>
    <%= f.label :ambiance %>
    <%= f.text_field :ambiance %>
  </p>

  <%= f.submit "Save review" %>

<% end %>
