<% content_for :page_title, "Homepage" %>

<nav class="filters">
  <%= link_to "All restaurants", root_path%>
  <%= link_to "$", root_path(price: 1, cuisine: @cuisine) %>
  <%= link_to "$$", root_path(price: 2, cuisine: @cuisine) %>
  <%= link_to "$$$", root_path(price: 3, cuisine: @cuisine) %>

  <%= link_to "Indian", root_path(cuisine: "Indian", price: @price) %>
  <%= link_to "American", root_path(cuisine: "American", price: @price) %>
  <%= link_to "Mexican", root_path(cuisine: "Mexican", price: @price) %>
</nav>

<!-- Index is just the list of all reviews. -->
<!-- The structure of all page are in the Layout /application.html.erb -->
<!-- Run a ruby loop for each restaurant review and execute code -->
<!-- Output the loop on the HTML, printing the review title (instead of review id)-->
<!-- create a link for each review title so users can click and see it there -->
<% @reviews.each do |review| %>

  <div class="review">
    <%= link_to review.title, review_path(review) %>
  </div>

<% end %>
